* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.contenedor {
  max-width: 960px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.nav {
  display: inline-block;
  max-width: 840px;
  text-align: right;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.input-menu {
  border-radius: 30px;
}

.contenido {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.listad-noticias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noticia {
  width: 100%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.cuerpo img {
  width: 100%;
}

.cuerpo p {
  padding: 5px 10px;
}

.listado-izquierdo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cabecera-listado {
  width: 220px;
  border-bottom: 1px solid gray;
}

.tags {
  border-bottom: 1px solid gray;
}

.tags ul {
  padding: 0;
  list-style: none;
}

.tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
}

.noticias-destacadas {
  margin-bottom: 50px;
}

.noticias-destacadas img {
  width: 220px;
  height: 200px;
}

.newsletter {
  max-width: 960px;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsletter h2 {
  font-size: 24px;
}

.group input,
.group button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}

.group button {
  background-color: coral;
  color: white;
}

.footer {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .noticia {
    width: 210px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
  }

  .cuerpo img {
    width: 210px;
    height: 300px;
  }
}

@media screen and (min-width: 500px) {
  .contenido {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .listad-noticias {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav ul {
    flex-direction: row;
  }
}
